section#contact.contact
    .contact__header
        h2.contact__title Get in Touch
        p.contact__subtitle The gradual accumulation of information about atomic and small-scale behaviour during the first quarter of the 20th century
    .contact__form
        .card
            .card__header
                h3.card__title Contactez nous
            .card__form
                form(action="" method="post").form
                    .form__left
                        .form__group
                            label.form__label(for="nom") Nom Complete *
                            input.form__input(type="text" id="nom" name="nom" required)
                        .form__group
                            label.form__label(for="email") Email *
                            input.form__input(type="email" id="email" name="email" required)
                    .form__right
                        .form__group
                            label.form__label(for="message") Message *
                            textarea.form__textarea(name="message", id="message", cols="30", rows="6" required)
                    .form__footer
                        button.btn(type="submit", name="contact", value="submit") Envoyer
                    //- Contact PHP
            .
                <?php
                    if(isset($_POST['contact'])){
                        $nom = htmlspecialchars($_POST['nom']);
                        $email = htmlspecialchars($_POST['email']);
                        $message = htmlspecialchars($_POST['message']);

                        // Send mail 
                        if(mail("aymanbenadra16@gmail.com", "Traumato Contact Form", $message, "From: $email", "Reply-To: $email")){
                            echo "<script>alert('Votre message a été envoyé avec succès!')</script>";
                        }else{
                            echo "<script>alert('Une erreur est survenue lors de l\'envoi du message!')</script>";
                        }
                    }
                ?>