section.hero
    .hero__filter
    .hero__content
        .hero__left-content
            h1.hero__title Meet the best Hospital
            p.hero__subtitle We know how large objects will act, but things on a small scale.
            .hero__cta
                a(href="#location" class="link-active") 
                    button.btn.btn--secondary(type="button") 
                        | Location Cabinet
                a(href="#contact") 
                    button.btn(type="button") 
                        | Contactez nous!
        .hero__right-content
            .card
                .card__header
                    h3.card__title Crée Patient
                .card__form
                    form(method="POST", action="").form
                        .form__group.form__group--field
                            .form__group.form__group--half
                                label.form__label(for="nom") Nom *
                                input.form__input(type="text" id="nom" name="nom" required)
                            .form__group.form__group--half
                                label.form__label(for="prenom") Prénom *
                                input.form__input(type="text" id="prenom" name="prenom" required)
                        .form__group
                            label.form__label(for="tele") Téléphone *
                            input.form__input(type="text" id="tele" name="tele" required)
                        .form__group
                            label.form__label(for="email") Email *
                            input.form__input(type="email" id="email" name="email" required)
                        .form__group
                            label.form__label(for="date") Date de Naissance *
                            input.form__input(type="date" id="date" name="dn" required)
                        .form__group
                            label.form__label(for="maladie") Maladie *
                            select.form__select(id="maladie" name="maladie" required) 
                                option(value="tspt") TSPT
                                option(value="camh") CAMH
                                option(value="spt") SPT
                                option(value="autre") Autre
                        .form__group
                            label.form__label(for="rdv") Date de Rendez-vous *
                            input.form__input(type="date" id="rdv" name="rdv" required)
                        .form__footer
                            button.btn(type="submit", name="hero-form", value="submit") Crée
        .
            <?php
                require "php/connexion.php";

                if (isset($_POST['hero-form'])) {
                    $nom = mysqli_real_escape_string($conn, $_POST['nom']);
                    $prenom = mysqli_real_escape_string($conn, $_POST['prenom']);
                    $tele = mysqli_real_escape_string($conn, $_POST['tele']);
                    $email = mysqli_real_escape_string($conn, $_POST['email']);
                    $date_naissance = mysqli_real_escape_string($conn, $_POST['dn']);
                    $maladie = mysqli_real_escape_string($conn, $_POST['maladie']);
                    $date_rendezvous = mysqli_real_escape_string($conn, $_POST['rdv']);

                    $sql_utilisateur = "INSERT INTO utilisateur (nom, prenom, telephone, email, date_naissance, role) VALUES ('$nom', '$prenom', '$tele', '$email', '$date_naissance', 'patient')";

                    $sql_rdv = "INSERT INTO rdv(date_rdv, maladie, utilisateur_id) VALUES ('$date_rendezvous', '$maladie', LAST_INSERT_ID())";

                    if ($conn->query($sql_utilisateur) === TRUE && $conn->query($sql_rdv) === TRUE) {
                        echo "<script>alert('Votre demande a bien été prise en compte, nous vous recontacterons dans les plus brefs délais.');</script>";
                    } else {
                        echo "<script>alert('Erreur lors de la création de votre compte, veuillez réessayer.');console.log('Error: '". $sql ."'<br>'". $conn->error.");</script>";
                    }
                }
                $conn->close();
            ?>