a {
  text-decoration: none;
  color: #fff;
}
li {
  list-style: none;
}
.btn {
  border: none;
  outline: none;
  font-size: large;
  color: white;

  padding: 5px 14px;
  background-color: $color-primary;
  border-radius: 15px;
  transition: 0.3s ease;

  &:hover {
    background-color: $color-disabled-element;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s ease;
  }

  &:disabled {
    background-color: $color-disabled-element;
  }

  &--secondary {
    background-color: #00000000;
    border-color: $color-light;

    &:hover {
      background-color: $color-light;
      color: $color-text;
    }
  }

  &--red {
      background-color: $color-red;
      
  }
}
