* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;

  &::before, &::after {
    box-sizing: border-box;
  }
}

ol, ul{
    list-style: none;
}

table{
    border-collapse: collapse;
}