mixin login-card(type="Medecin")
    .card
        .card__header
            img.card__logo(src="./assets/logo.png", alt="Traumato Logo")
            h3.card__brand Traumato
            p.card__desc enterer votre username et mot de passe
            span.card__close &times;
        .card__form
            form.form
                fieldset.form__fieldset
                    legend.form__legend Type de Compte
                    input.form__input(type="Checkbox", id="medecin", name="type", value="medecin")
                    label.form__label(for="medecin") Medecin
                    input.form__input(type="Checkbox", id="admin", name="type", value="admin")
                    label.form__label(for="admin") Admin
                .form__group
                    label.form__label(for="username") Username 
                    input.form__group__input(type="text" id="username" name="username" required)
                .form__group
                    label.form__label(for="password") Password
                    input.form__input(type="password" id="password" name="password" required)
                .form__group
                    label.form__label(for="twofa") Code Securité 2FA
                    input.form__input(type="password" id="twofa" name="twofa" required)
                button.btn.btn--primary(type="button")
                    span.btn__text Log in
