extends _template.pug 

block content
    .
        <?php
            if(!isset($_SESSION['user'])){
                header('Location: ./index.html');
            }
        ?>
    .container
        include ../_partials/sidenav.pug
        include ../_partials/main.pug

block append scripts 
    script(type='module' src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js')
    script(nomodule src='https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js')
