extends _template.pug

block content
    //- Header
    include ../partials/_header.pug
    //- Hero
    include ../partials/_hero.pug
    //- Location Cabinet
    include ../partials/_location.pug
    //- Contact
    include ../partials/_contact.pug

    //- Footer
    include ../partials/_footer.pug