extends _template.pug

block content
    button.btn.btn--secondary.btn--float(type="button") Revien au page Home
    .container 
        .card
            .card__header
                h3.card__title Crée Patient
            .card__form
                form.form
                    .form__group--half
                        label.form__label(for="nom") Nom *
                        input.form__input(type="text" id="nom" name="nom" required)
                    .form__group--half
                        label.form__label(for="prenom") Prénom *
                        input.form__input(type="text" id="prenom" name="prenom" required)
                    .form__group
                        label.form__label(for="tele") Téléphone *
                        input.form__input(type="text" id="tele" name="tele" required)
                    .form__group
                        label.form__label(for="email") Email *
                        input.form__input(type="email" id="email" name="email" required)
                    .form__group
                        label.form__label(for="date") Date de Naissance *
                        input.form__input(type="date" id="date" name="dn" required)
                    .form__group
                        label.form__label(for="maladie") Maladie *
                        select.form__select(id="maladie" name="maladie" required) 
                            option(value="tspt") TSPT
                            option(value="camh") CAMH
                            option(value="spt") SPT
                            option(value="autre") Autre
                    .form__group
                        label.form__label(for="rdv") Date de Rendez-vous *
                        input.form__input(type="date" id="rdv" name="rdv" required)
                    button.btn.btn--primary(type="submit")
                        span.btn__text Crée