include ../_mixins/card.pug
section#contact.contact
    .contact__header
        h2.contact__title Get in Touch
        p.contact__desc The gradual accumulation of information about atomic and small-scale behaviour during the first quarter of the 20th century
    .contact__form
        +card("Contactez nous", "contact", "Envoyer!")