header.header
    .header__brand 
        img.header__logo(src="./assets/logo.png", alt="Traumato")
        h4.header__logotype Traumato
    .header__login
        button#loginBtn.btn.btn--primary(type="button")
            span.btn__text Login &rarr;