main.main 
    .main__header 
        h2.main__title Patients
        form(action="php/logout.php", method="POST").main__user 
                label(for="logout", tooltip="click to logout")#username.main__username
                    | <?php echo $_SESSION['nom']." (".$_SESSION["user"].")"; ?>
                button#logout.main__username-logout(type="submit" name="logout" value="logout")
                    ion-icon(name="log-out-outline")

    .main__content
        .main__content-header
            h3.main__subtitle Tous les Patients 
            button.btn
                ion-icon(name="add-circle-outline")
                | Ajouter Patient
        .main__content-body
            table.main__table
                thead.main__table-head
                    tr.main__table-row
                        th Nom Complete
                        th Date de Naissance
                        th Maladie
                        th Date Rendez-vous
                        th Action
                tbody.main__table-body
                .
                    <?php
                        require "php/connexion.php";
                        $sql = "SELECT * FROM Utilisateur join rdv on rdv.utilisateur_id = utilisateur.id where role='patient'";
                        $result = mysqli_query($conn, $sql);
                        while($row = mysqli_fetch_assoc($result)){
                            echo "tr.main__table-row";
                                echo "td".$row['nom']." ".$row['prenom'];
                                echo "td".$row['date_naissance'];
                                echo "td".$row['maladie'];
                                echo "td".$row['date_rdv'];
                                echo "td";
                                    echo 'button(type="button", id="modifier").btn.btn--edit Modifier';
                                    echo 'button(type="button", id="supprimer").btn.btn--delete Supprimer';
                        }
                    ?>
