include ../_mixins/card.pug 

+card("Crée Patient","patient","Crée", "creation-patient")
+card("Modifier Patient","patient","Modifier", "modification-patient")

+card("Crée Medecin","medecin","Crée", "creation-medecin-modal")
+card("Modifier Medecin","medecin","Modifier", "modification-medecin")
