// Primary Meta Tags
title Traumato - Cabinet Traumatologie
meta(name="title", content="Traumato - Cabinet Traumatologie")
meta(name="description", content="Le docteur Rahbani Rafik est un traumatologue qui souhaite renforcer sa présence sur le web et informatiser la gestion de ses patients.")
// Open Graph / Facebook
meta(property="og:type", content="website")
meta(property="og:url", content="https://metatags.io/")
meta(property="og:title", content="Traumato - Cabinet Traumatologie")
meta(property="og:description", content="Le docteur Rahbani Rafik est un traumatologue qui souhaite renforcer sa présence sur le web et informatiser la gestion de ses patients.")
meta(property="og:image", content="../assets/hero.jpg")
// Twitter
meta(property="twitter:card", content="summary_large_image")
meta(property="twitter:url", content="https://metatags.io/")
meta(property="twitter:title", content="Traumato - Cabinet Traumatologie")
meta(property="twitter:description", content="Le docteur Rahbani Rafik est un traumatologue qui souhaite renforcer sa présence sur le web et informatiser la gestion de ses patients.")
meta(property="twitter:image", content="../assets/hero.jpg")
