.sidenav
    .sidenav__header
        img.sidenav__logo(src="./assets/logo-light.png", alt="Traumato")
        .sidenav__title
            | Traumato
    .sidenav__menu
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="person-circle-outline")
                | Profile
        .sidenav__menu-item.sidenav__menu-item--active
            a(href="#")
                ion-icon(name="people-outline")
                | Patients
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="calendar-outline")
                | Rendez-vous
