.sidenav
    .sidenav__header
        .sidenav__logo
            img(src="./assets/logo.png", alt="Traumato")
        .sidenav__title
            | Traumato
    .sidenav__menu
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="person-circle-outline")
                | Profile
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="people-outline")
                | Patients
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="calendar-outline")
                | Rendez-vous
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="people-circle-outline")
                | Medecins
        .sidenav__menu-item
            a(href="#")
                ion-icon(name="log-out-outline")
                | Logout